
body {
    text-align: center;
}

button {
    padding: 5px 10px;
    margin: 10px;
}

button.logout {
    background-color: red;
    color: white;
    float: left;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button.logout:hover {
    background-color: #c62828;
}

.schedule-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 16px;
    margin: 30px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888888;
    transition: all 0.5s;
}

.schedule-btn:hover {
    transform: scale(1.1);
}

.select-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
  
.select-button:hover {
    background-color: #0069d9;
}

.hour-button {
    /* width: 70px; */
}



