

table, th, td {
    width: 25%;
    margin: 15px;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}



table {
    margin: auto;
    margin-bottom: 20px;
    background-color: brown;
}


th {
    background-color: blueviolet;
}

td {
    background-color: burlywood;
}

tr:hover {
    background-color: black;
}

